.deps
.libs
INSTALL
Makefile
Makefile.in
aclocal.m4
arg_ex0
arg_ex1
arg_ex2
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libarg.la
libtool
ltmain.sh
m4
missing
*.lo
*.o
*~
arg-*.pc
